/* Style the selection menus */
.selector {
    position: absolute;
    right: 5%;
    border: none;
    border-radius: 0%;
    color: white;
    background-color: rgb(63, 63, 63);
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* Checkboxes toggles */
.checkbox input[type=checkbox] {
    position: relative;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
}

/* The color picker that is used to change color of models */
.color_picker {
    position: absolute;
    right: 5%;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* The skybox toggle */
#skybox_checkbox {
    position: absolute;
    top: 12.5px;
    left: 85%;
}

/* Skybox textures gallery */
.gallery {
    padding: 10px 0;
}

.gallery div {
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    scrollbar-width: none;  /* Firefox */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 2%;
}

.gallery div img {
    opacity: 0.5;
    margin-right: 5%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.gallery div img.active {
    opacity: 1;
    border: 3px solid #a7a7a7;
}

.gallery div img:hover {
    opacity: 1;
}

/* Sliders */
.slider {
    height: 50px;
}

.slider label {
    position: absolute;
    left: 1rem;
    top: 5%;
    transform: translateY(0);
}

input[type=range] {
    position: absolute;
    width: 85%;
    left: 1rem;
    top: 70%;
    transform: translateY(-50%);
}

.value_display {
    position: absolute;
    right: 1rem;
    top: 5%;
    background-color: #444444;
    color: white;
    border-radius: 2px;
    width: 22.5%;
    height: 35%;
    font-size: 14px;
    text-align: right;
}