/* Style the selection menus */
.selector {
    position: absolute;
    right: 5%;
    border: none;
    border-radius: 0%;
    color: white;
    background-color: rgb(63, 63, 63);
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* Checkboxes toggles */
.checkbox input[type=checkbox] {
    position: relative;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
}

/* The color picker that is used to change color of models */
.color_picker {
    position: absolute;
    right: 5%;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}



