/* Place menu in right upper corner of the WebGL-test */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 1rem;
    border-radius: 0 0 0 0.5rem;
}

/* "Open Menu" button */
#open_menu_btn {
    background-color: rgb(83, 83, 83);
    color: white;
    border: none;
    cursor: pointer;
    left: 90%;
    height: 35px;
    width: 100px;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
}

#open_menu_btn:hover {
    opacity: 0.8;
}

/* The menu when it's opened */
#menu__content {
    background-color: #44444498;
    padding-top: 20px;
    z-index: 1;
    display: none;
    opacity: 0.8;
    width: 250px;
    transition: opacity 0.5s ease-in-out;
}

#menu__content.active {
    display: block;
    opacity: 1;
}

/* "Close Menu" button */

#buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

#close_menu_btn, #close_all_dropdowns_btn {
    background-color: rgba(83, 83, 83, 0);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 0.7rem;
    text-align: end;
    padding: 5px 10px 1px 10px;
}

#close_menu_btn:hover, #close_all_dropdowns_btn:hover {
    opacity: 0.9;
}